<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <form novalidate
            (ngSubmit)="saveContact()"
            [formGroup]="contactForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="contactNameId">contact Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="contactNameId"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="contactName"
                   [ngClass]="{'is-invalid': displayMessage.contactName }" />
            <span class="invalid-feedback">
              {{displayMessage.contactName}}
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="contactCodeId">contact Code</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="contactCodeId"
                   type="text"
                   placeholder="Code (required)"
                   formControlName="contactCode"
                   [ngClass]="{'is-invalid': displayMessage.contactCode}" />
            <span class="invalid-feedback">
              {{displayMessage.contactCode}}
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="starRatingId">Star Rating (1-5)</label>
  
          <div class="col-md-8">
            <input class="form-control"
                   id="starRatingId"
                   type="text"
                   placeholder="Rating (1-5)"
                   formControlName="starRating"
                   [ngClass]="{'is-invalid': displayMessage.starRating}" />
            <span class="invalid-feedback">
              {{displayMessage.starRating}}
            </span>
          </div>
        </div>
        
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="descriptionId">Description</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      placeholder="Description"
                      rows=3
                      formControlName="description"
                      [ngClass]="{'is-invalid': displayMessage.description}"></textarea>
            <span class="invalid-feedback">
              {{ displayMessage.description}}
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3"
                    style="width:80px;"
                    type="submit"
                    [title]="contactForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!contactForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary mr-3"
                    style="width:80px;"
                    type="button"
                    title="Cancel your edits"
                    [routerLink]="['/contacts']">
              Cancel
            </button>
            <button class="btn btn-outline-warning"
                    style="width:80px"
                    type="button"
                    title="Delete this contact"
                    (click)="deleteContact()">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>