<div class="card">
  <div class="card-header" *ngIf="contact">
    {{ pageTitle + "about: " + contact.firstName + contact.lastName }}
  </div>

  <div class="card-body" *ngIf="contact">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">Name:</div>
          <div class="col-md-6">
            {{ contact.firstName + " " + contact.lastName }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Email:</div>
          <div class="col-md-6">{{ contact.email }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Password:</div>
          <div class="col-md-6">{{ contact.password }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">CategoryName:</div>
          <div class="col-md-6">{{ contact.categoryName }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">SubCategoryName:</div>
          <div class="col-md-6">{{ contact.subCategoryName }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Date of birth:</div>
          <div class="col-md-6">{{ contact.dateOfBirth }}</div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <button
          class="btn btn-outline-secondary mr-3"
          style="width: 80px"
          (click)="onBack()"
        >
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button
          class="btn btn-outline-primary"
          style="width: 80px"
          [routerLink]="['/contacts', contact.id, 'edit']"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
